/*

http://www.w3.org/TR/CSS2/sample.html

*/

th {
	font-weight: bolder;
	text-align: center
}

caption {
	text-align: center
}

body {
	margin: 8px
}

h1 {
	font-size: 2em;
	margin: .67em 0;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	margin: .75em 0;
	text-align: center;
}

h3 {
	font-size: 1.17em;
	margin: .83em 0;
	text-align: center;
}

h4,p,blockquote,ul,ol,dl {
	margin: 1.12em 0
}

h5 {
	font-size: .83em;
	margin: 1.5em 0
}

h6 {
	font-size: .75em;
	margin: 1.67em 0
}

h1,h2,h3,h4,h5,h6,b,strong {
	font-weight: bolder
}

blockquote {
	margin-left: 40px;
	margin-right: 40px
}

i,cite,em,var,address {
	font-style: italic
}

pre,tt,code,kbd,samp {
	font-family: monospace
}

big {
	font-size: 1.17em
}

small,sub,sup {
	font-size: .83em
}

sub {
	vertical-align: sub
}

sup {
	vertical-align: super
}

thead,tbody,tfoot {
	vertical-align: middle
}

td,th,tr {
	vertical-align: inherit
}

s,strike,del {
	text-decoration: line-through
}

ol,ul,dir, dd {
	margin-left: 40px
}

ol ul,ul ol,ul ul,ol ol {
	margin-top: 0;
	margin-bottom: 0
}

u,ins {
	text-decoration: underline
}

center {
	text-align: center
}

